<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Campus Alert{% endblock %}</title>
    <!-- Add your CSS styles or other head elements here -->
</head>
<body>
    <header>
       <!-- <h1>{% block header %}My Website Header{% endblock %}</h1>-->
        <!-- Add navigation links or other header content here -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Add footer content here -->
        <p>&copy; 2024 Campus Alert</p>
    </footer>

    <!-- Add your JavaScript or other scripts here -->
</body>
</html>
