<!-- upload_floor_plan.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Upload Floor Layout</title>

</head>
<body>
    <h1>Upload Floor Layout</h1>

    <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit">
    </form>
    
    
    <div id="success-message" style="display: none;"></div>

    
    <script>
        // Check if the success message exists in the context
        var successMessage = "{{ success_message|default:'' }}";
        if (successMessage) {
            // Display the success message
            document.getElementById('success-message').innerText = successMessage;
            document.getElementById('success-message').style.display = 'block';
        }
    </script>
        
</body>
</html>
