<!-- upload_floor_plan.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Upload Building</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    {% include 'top_navbar.html' %}

    <h1>Upload Building</h1>

    <p>Building consists of a list of floors with unique floor numbers. There is no notion of where the building is located, as all geographic information are stored by individual rooms.</p>
    
    <ul>
        <li>The name must be unique and be no longer than 255 characters.</li>
    </ul>

    <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit">
    </form>
    
    
    <div id="success-message" style="display: none;"></div>

    
    <script>
        // Check if the success message exists in the context
        var successMessage = "{{ success_message|default:'' }}";
        if (successMessage) {
            // Display the success message
            document.getElementById('success-message').innerText = successMessage;
            document.getElementById('success-message').style.display = 'block';
        }
    </script>
        
</body>
</html>
