<!-- upload_floor_plan.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Upload Floor</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="">
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% load static %}
    <script src="{% static 'js/create_floor.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    {% include 'top_navbar.html' %}
    
    <h1>Upload Floor</h1>

    <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <p>
            Order of putting down the pins:
            <ol>
                <li>Top left</li>
                <li>Top right</li>
                <li>Bottom left</li>
            </ol>

            Three points are sufficient for the system to linearly transform your layout onto the map.
         </p>

        <div id="map" style="width: 100%; height: 600px;"></div>

    
        <!-- Hidden fields for latitude and longitude -->
        <input type="hidden" name="latitude1" id="latitude1">
        <input type="hidden" name="longitude1" id="longitude1">
        <input type="hidden" name="latitude2" id="latitude2">
        <input type="hidden" name="longitude2" id="longitude2">
        <input type="hidden" name="latitude3" id="latitude3">
        <input type="hidden" name="longitude3" id="longitude3">

        <input type="submit" value="Submit">
    </form>

    Layout preview:
    <img id="preview"/>
    <div id="success-message" style="display: none;"></div>

    <style>
        #image-container > img {
            width: 500px;
        }
    </style>

    <script>
        // Check if the success message exists in the context
var successMessage = "{{ success_message|default:'' }}";
if (successMessage) {
    // Display the success message
    document.getElementById('success-message').innerText = successMessage;
    document.getElementById('success-message').style.display = 'block';
}

// Add an event listener to the form for the 'change' event
document.addEventListener('DOMContentLoaded', function () {
    // Find the form element
    var form = document.getElementById('form');
    
    // Add an event listener to the form for the 'change' event
    form.addEventListener('change', function (event) {
        // Check if the changed element is a select element with the name 'my_dropdown'
        if (event.target.tagName === 'SELECT' && event.target.name === 'layout') {
            // Run your function here
            // For example, you can access the selected value like this:
            var selectedValue = event.target.value;
            console.log('Selected value:', selectedValue);

            var layoutName = event.target.querySelector('option[value="' + selectedValue + '"]').textContent;

            // Call your custom function
            onLayoutChange(layoutName);
        }
    });
});

imageUrl = "";
var imageOverlay = null;

// Your custom function
function onLayoutChange(imageName) {
    var baseUrl = window.location.origin;
    var apiUrl = `${baseUrl}/emergency/floorlayout/get_image_url?name=${imageName}`;

    fetch(apiUrl)
        .then(response => {
            console.log(response)
            return response.json()})
        .then(data => {
            if (data.error) {
                console.error(data.error);
            } else {
                document.getElementById('preview').src = data.image_url;
                imageUrl = data.image_url;
                if (imageOverlay != null) {
                    console.log(imageOverlay.setUrl);
                    imageOverlay.setUrl(imageUrl);
                }
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

/////////////////////// MAP /////////////////////////////

// Initialize the map
var map = L.map('map').setView([51.505, -0.09], 13);

// Add a base tile layer (you can customize the tile layer)
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 25,
}).addTo(map);

var clickCount = 0;
var coordinates = [];
var pins = [];

// Create an icon for the clicked points
var icon = L.divIcon({ className: 'custom-icon', html: '📍' });

function replaceNearestLatLng(arr, clicked) {
    if (!Array.isArray(arr) || arr.length === 0) {
        // Handle invalid input or empty array
        return;
    }

    let minDistance = Infinity;
    let nearestIndex = -1;

    // Iterate through the array to find the nearest LatLng
    for (let i = 0; i < arr.length; i++) {
        const latLng = arr[i];
        const distance = latLng.distanceTo(clicked); // Calculate Euclidean distance

        if (distance < minDistance) {
            minDistance = distance;
            nearestIndex = i;
        }
    }

    if (nearestIndex !== -1) {
        // Replace the nearest LatLng with the clicked LatLng
        arr[nearestIndex] = clicked;
    }
}

function updateImageOverlay() {
    // Calculate the bounds for the image overlay
    var topLeft = coordinates[0];
    var topRight = coordinates[1];
    var bottomLeft = coordinates[2];

    if (imageUrl != "") {
        if (imageOverlay === null) {
            imageOverlay = L.imageOverlay.rotated(imageUrl, topLeft, topRight, bottomLeft, {
                opacity: 0.4,
                interactive: true
            }).addTo(map);
        } else {
            imageOverlay.reposition(topLeft, topRight, bottomLeft);
            imageOverlay.setUrl(imageUrl);
        }
    }
}

function updatePins() {
    for (let i = 0; i < pins.length; i++) {
        map.removeLayer(pins[i]);
    }

    pins = [];

    for (let i = 0; i < coordinates.length; i++) {
        var pin = L.marker(coordinates[i], { icon: icon }).addTo(map);
        pins.push(pin);
    }
}

function updateForm() {
    var latitude1Input = document.getElementById('latitude1');
    var longitude1Input = document.getElementById('longitude1');
    var latitude2Input = document.getElementById('latitude2');
    var longitude2Input = document.getElementById('longitude2');
    var latitude3Input = document.getElementById('latitude3');
    var longitude3Input = document.getElementById('longitude3');

    latitude1Input.value = coordinates[0].lat;
    longitude1Input.value = coordinates[0].lng;
    latitude2Input.value = coordinates[1].lat;
    longitude2Input.value = coordinates[1].lng;
    latitude3Input.value = coordinates[2].lat;
    longitude3Input.value = coordinates[2].lng;
}

// Add a click event listener to the map
map.on('click', function (e) {
    if (clickCount < 2) {
        // First click, display an icon
        coordinates.push(e.latlng);
        clickCount++;
    } else if (clickCount === 2) {
        // Second click, display the image overlay
        coordinates.push(e.latlng);
        updateImageOverlay();
        clickCount++;
    } else {
        replaceNearestLatLng(coordinates, e.latlng);
        updateImageOverlay();
    }

    updatePins();

    if (coordinates.length >= 3) {
        updateForm();
        console.log(coordinates);
    }
});

    </script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<style>
    * {
        font-family: "Inter", sans-serif;
    }

    .active {
        background-color: red;
        color: white; /* You can style it as per your preference */
        font-size: 30pt;
        font-weight: bolder;
        border-radius: 5px;
        padding: 10px;
    }

    .container {
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        margin: 5px;
    }

    textarea {
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    input[type=submit] {
        font-size: 12pt;
        margin: 10px 0px 10px 0px;
        padding: 3px;
    }

</style>
</body>
</html>
